<div class="about">
  
  <div>
    <h5>designer</h5>
    <p>with a strong creative background i strive to create functional, yet beautiful, user-friendly applications</p>

    <h5>personal</h5>
    <p>in my spare time you can find me thrifting for vintage finds, working on interior design projects, and spending time with my husband and our doxie minpin, max</p>
  </div>

  <div class="exp">
    <h5>experience</h5>

    <div class="small-block-grid-3">
      
      <div>retail management</div>
      <div>office management</div>
      <div>the iron yard</div>
    </div>

    <div>
      <a href="./pdf/sarahbesozziresume.pdf" download="sarahbesozziresume.pdf">download the pdf</a>
    </div>
  </div>


</div>