<div class="about">
  
  <div>
    <h5>designer</h5>
    <p>With a strong creative background i strive to create functional, yet beautiful, user-friendly applications.</p>

    <h5>coder</h5>
    <p>Concise and clear code. </p>

    <h5>personal</h5>
    <p>After my long career in management i yearned for an outlet for my creative side. that's when i dove into the world of web development.

    In my spare time you can find me thrifting for vintage finds, working on interior design projects, and spending time with my husband and our doxie minpin, max.
    </p>
  </div>

  <div>
    <img src="">
  </div>

  <div class="skills">
    <h5>skills</h5>

    <ul class="small-block-grid-4">
      <li>JavaScript
        <ul>
          <li>Vanilla JavaScript</li>
          <li>jQuery</li>
          <li>AngularJS</li>
          <li>Backbone</li>
          <li>REACT</li>
          <li>Handlebars</li>
          <li>Underscore</li>
        </ul>
      </li>
      <li>Workflow
        <ul>
          <li>Command Line</li>
          <li>Sublime</li>
          <li>NPM</li>
          <li>Gulp</li>
          <li>Bower</li>
          <li>GitHub</li>
        </ul>
      </li>        
      <li>HTML/CSS
        <ul>
          <li>HTML</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>Foundation</li>
          <li>Bourbon</li>
          <li>Neat</li>
          <li>Responsive Design</li>
        </ul>
      </li>
      <li>Additional Skills
        <ul>
          <li>RESTful API</li>
          <li>JSON</li>
          <li>Parse</li>
         
        </ul>
      </li>
    </ul>


  <div class="exp">
    <h5>previous experience</h5>

    <ul class="small-block-grid-3">
      <li>retail management</li>
      <li>office management</li>        
      <li>the iron yard</li>
    </ul>

    <div>
      <a href="./pdf/sarahbesozziresume.pdf" download="sarahbesozziresume.pdf">
        <i class="fa fa-download"></i> pdf version
      </a>
    </div>
  </div>


</div>