<div class="about">
  
  <div>

    <h5>personal</h5>
    <div class="block">

      <div class="imgWrap">
        <img src="/images/sbprofile5.jpeg">
      </div>

      <div class="personal">
        <p>After a long career in management I yearned for an outlet for my creative side.  That's when I dove head first into the world of web development. I knew I had found something I loved when I started dreaming in code.</p>
        <p>In my spare time you can find me thrifting for vintage finds, working on interior design and DIY projects, and spending time with my husband, Gabriele, and our Doxie Minpin, Max.</p>
      </div>
      
    </div>


    <h5>designer</h5>
    <div class="block designer">
      <p>With a strong creative background I strive to create functional, yet beautiful, user-friendly applications using clear and concise code.</p>
    </div>

  </div>

  <div class="skills">
    <h5>skills</h5>

    <div class="skill-list">
        <ul>JavaScript
          <li>Vanilla JavaScript</li>
          <li>jQuery</li>
          <li>AngularJS</li>
          <li>Backbone</li>
          <li>ReactJS</li>
          <li>Underscore</li>
        </ul>
        <ul>Workflow
          <li>Command Line</li>
          <li>Sublime</li>
          <li>NPM</li>
          <li>Gulp</li>
          <li>Bower</li>
          <li>GitHub</li>
        </ul>
        <ul>HTML / CSS
          <li>HTML</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>Foundation</li>
          <li>Responsive Design</li>
        </ul>
        <ul>Additional Skills
          <li>RESTful API</li>
          <li>JSON</li>
          <li>Parse</li>
          <li>PHP</li>
        </ul>
    
    </div>

  <div class="exp">
    <h5>experience</h5>

    <ul class="small-block-grid-3">
      <li>retail/office management
      <p>15 years</p>
      </li>
      <li>the iron yard
      <p>3 months</p>
      </li> 
      <li class="ironyard">atomized
      <p>6 months</p>
      </li>

    </ul>

    <div>
      <a href="./pdf/sarahbesozziresume.pdf" download="sarahbesozziresume.pdf">
        <i class="fa fa-download"></i> resume pdf
      </a>
    </div>
  </div>


</div>