<div class="contact">

  <div class="contact-info">
    <h5>contact me</h5>

    <ul>
      <li><a href="mailto:sarah.besozzi@gmail.com"><i class="fa fa-envelope fa-2x"></i> email me</a></li>

      <li><a href="#"><i class="fa fa-phone fa-2x"></i>  404.966.0166</li>

      <li><a href="https://www.linkedin.com/in/sarahbesozzi"><i class="fa fa-linkedin fa-2x"></i> connect</a></li>

      <li><a href="https://github.com/sbesozzi"><i class="fa fa-github fa-2x"></i> checkout my code</a></li>

      <li><a href="https://medium.com/@sarahbesozzi"><i class="fa fa-medium fa-2x"></i> read my blog</a></li>

      <li><a href="https://twitter.com/sarahbesozzi?lang=en"><i class="fa fa-twitter fa-2x"></i> follow me</a></li>

    </ul>

  </div>


</div>