<div class="contact">
  <h5>contact me</h5>

  <ul>
    <li><a href="mailto:sarah.besozzi@gmail.com"> 
<i class="fa fa-envelope fa-2x"></i></a> email me</li>
    <li><i class="fa fa-phone fa-2x"></i>404.966.0166</li>
    <li><a href="https://www.linkedin.com/in/sarahbesozzi"><i class="fa fa-linkedin fa-2x"></i></a> linkedin</li>
    <li><a href="https://github.com/sbesozzi"><i class="fa fa-github fa-2x"></i></a> checkout my code</li>
    <li><a href="https://twitter.com/sarahbesozzi?lang=en"><i class="fa fa-twitter fa-2x"></i></a> follow me</li>
    <li><a href="https://medium.com/@sarahbesozzi"><i class="fa fa-medium fa-2x"></i></a> read my blog</li>


  </ul>


</div>