<div class="work">

  <ul class="small-block-grid-2 text-center">

    <li><a href="http://sbesozzi.tiy.nggram.surge.sh/#/"><h6>angular instagram &nbsp<a href="https://github.com/sbesozzi/ngGram"><i class="fa fa-github"></i></a></h6><img src="/images/nggram.jpg"></a></li>

    <li><a href="http://sarah.besozzi.thriftedfinds.surge.sh/#/"><h6>thrifted finds &nbsp<a href="https://github.com/sbesozzi/Thrifted-Finds-App"><i class="fa fa-github"></i></a></h6><img src="/images/thriftedfinds.jpg"></a></li>

    <li><a href="http://sbesozzi.etsypage.surge.sh/"><h6>etsy clone &nbsp<a href="https://github.com/sbesozzi/Etsy-Page-API"><i class="fa fa-github"></i></a></h6><img src="/images/etsy.jpg"></a></li>

    <li><a href="http://whatthedeck.surge.sh/"><h6>what the deck &nbsp<a href="https://github.com/FlashmobFlashCards"><i class="fa fa-github"></i></a></h6><img src="/images/whatthedeck.jpg"></a></li>

    <li><a href="http://pawpals.surge.sh/#/"><h6>pawpals &nbsp<a href="https://github.com/PAWPALS"><i class="fa fa-github"></i></a></h6><img src="/images/pawpals.jpg"></a></li>

     <li><a href="http://billsplitter.surge.sh/#/"><h6>roommate bill splitter &nbsp<a href="https://github.com/Roommate-Bill-Splitter"><i class="fa fa-github"></i></a></h6><img src="/images/roommatebillsplitter.jpg"></a></li>

  </ul>

</div>