<div class="work">

  <ul class="small-block-grid-2 text-center">

    <li ng-class="{pop: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"><a href="http://sbesozzi.tiy.nggram.surge.sh/#/"><img src="/images/nggram.jpg"></a></li>

    <li><a href="http://sarah.besozzi.thriftedfinds.surge.sh/#/"><img src="/images/thriftedfinds.jpg"></a></li>

    <li><a href="http://sbesozzi.etsypage.surge.sh/"><img src="/images/etsy.jpg"></a></li>

    <li><a href="http://whatthedeck.surge.sh/"><img src="/images/whatthedeck.jpg"></a></li>

    <li><a href="http://pawpals.surge.sh/#/"><img src="/images/pawpals.jpg"></a></li>

     <li><a href="http://billsplitter.surge.sh/#/"><img src="/images/roommatebillsplitter.jpg"></a></li>  

  </ul>

</div>